@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
     font-family: "Jost", sans-serif;
}

a.active {
  @apply border-2 border-[#c681e770] text-[#a415e6d8];
}